<div class="{% if error %}{{ field.error_class }}{% endif %}">
<!--    <div class="d-flex flex-wrap">-->
    <div style="display: flex; flex-wrap: wrap; gap: 10px;">
        {% for value, label in field._get_choices(request) %}
            <div class="form-check form-check-inline">
                <input class="form-check-input"
                       type="radio"
                       id="{{ field.id }}-{{ loop.index }}"
                       name="{{ field.id }}"
                       value="{{ value }}"
                       {% if data == value %}checked{% endif %}
                       {% if field.disabled %}disabled{% endif %}>
                <label class="form-check-label" for="{{ field.id }}-{{ loop.index }}">
                    {{ label }}
                </label>
            </div>
        {% endfor %}
    </div>

    {% if field.help_text %}
        <small class="form-hint mt-2">{{ field.help_text }}</small>
    {% endif %}
</div>


{% include "forms/_error.html" %}